$BgColor1: #9d7d56;
$BgColor2: #c09d73;
$BgColor3: #e4c59e;

.footer {
  background-color: $BgColor1;

  margin: 0px;
  max-height: 6em;
  text-align: center;
  padding: 30px;
padding-bottom: 10px;
  position: sticky;
  margin-bottom: 0px;


  
  >#copyright{
margin-bottom: 10px;






  }
}
